
// VARIABLES COLORES

$color-primario:pink;
$color-secundario: salmon;
$color-texto: black;

// VARIABLES FUENTES

$fuente-normal: 1em;
$fuente-pequenia: 0.8em;
$fuente-grande: 1.8em;

// VARIABLES IMAGENES DE HERO

$hero-index: url(../assets/fondoDulces.jpg);
$hero-combos: url(../assets/combos.jpg);
$hero-nosotros: url(../assets/heroNosotros.jpg);
$hero-contacto: url(../assets/car5.jpg);
$hero-productos: url(../assets/hero-productos.jpg);
